/*
 * gVim based code formatting
 */

pre {
	font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	font-family: monospace;
	color: #000000;
	background-color: #ffffff;
	font-size: 18px;
}
.String {
	color: #204a87;
	font-weight: bold;
}
.Statement {
	color: #8f5902;
	font-weight: bold;
}
.LineNr {
	color: #bbbbbb;
}
.Comment {
	color: #888a85;
}
.Type {
	color: #73d216;
	font-weight: bold;
}
.Identifier {
	color: #729fcf;
}

